<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texas Poker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="auth">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Enter username">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter password">
        <button id="login-button">Login</button>
        <button id="register-button">Register</button>
    </div>

    <div id="game-table" style="display: none;">
        <div id="winner" style="display: none;"></div>
        <div id="game-container">
            <div id="player-circle"></div>
            <div id="table-center" style="display: none;">
                <div id="stage"></div>
                <div id="community-cards" class="card-container"></div> <!-- Контейнер для community-карт -->
                <div id="pot"></div>
            </div>
        </div>
        <div id="player-info">
            <div id="balance"></div>
            <div id="player-hand" class="card-container"></div> <!-- Контейнер для карт игрока -->
        </div>
        <div id="action-bar">
            <div class="left-buttons">
                <button id="fold-button">Fold</button>
                <button id="call-pass-button">Call/Pass</button>
            </div>
            <div class="right-buttons">
                <input type="number" id="bet-amount" placeholder="Bet amount">
                <button id="bet-button">Bet</button>
                <button id="all-in-button">All-in</button>
            </div>
        </div>
        <button id="ready-button" style="display: none;">Ready</button>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>